In [1]:
#to avoid warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv(r"data\land_price.csv")

In [4]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
databackup=data.copy()

In [6]:
data=databackup.copy()

In [7]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [9]:
data.shape

(1460, 81)

In [10]:
#checking for missing value
data.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [11]:
#showing columns with only missing values
missingval=data.isna().sum()[data.isna().sum()>0]
print("NUmber of columns with altelast 1 missing value : ",missingval.shape[0])
print("\n\nMissing value detaails\n")
print(missingval)

NUmber of columns with altelast 1 missing value :  19


Missing value detaails

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [12]:
#Checking for missing value
#percentage of misisng
missing_val_percentage=data.isna().sum()[data.isna().sum()!=0]*100/len(data)
print("Percentage of Missing\n")
print(missing_val_percentage)

Percentage of Missing

LotFrontage     17.739726
Alley           93.767123
MasVnrType       0.547945
MasVnrArea       0.547945
BsmtQual         2.534247
BsmtCond         2.534247
BsmtExposure     2.602740
BsmtFinType1     2.534247
BsmtFinType2     2.602740
Electrical       0.068493
FireplaceQu     47.260274
GarageType       5.547945
GarageYrBlt      5.547945
GarageFinish     5.547945
GarageQual       5.547945
GarageCond       5.547945
PoolQC          99.520548
Fence           80.753425
MiscFeature     96.301370
dtype: float64

In [13]:
data.shape

(1460, 81)

In [14]:
#columns with more than 40% missing
missing40cols=data.isna().sum()[data.isna().sum()*100/len(data)>40].index

missing40cols

Index(['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

In [15]:
#dropping columns with more than 40% missing
data=data.drop(missing40cols,axis=1)
data.shape

(1460, 76)

In [16]:
#missing object cols
missingobj=data[data.dtypes[data.dtypes==object].index].isna().sum()[(data.isna().sum()!=0)].index

In [17]:
missingobj

Index(['MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinType2', 'Electrical', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond'],
      dtype='object')

In [18]:
#missing float cols
missingfloat=data[data.dtypes[data.dtypes=='float64'].index].isna().sum()[(data.isna().sum()!=0)].index
missingfloat

Index(['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], dtype='object')

In [19]:
#filling missing value of object cols

#iterating over object columns and missing value is replaced with mode of the column
for x in missingobj:
    data[x][data[x].isna()] = data[x].mode()[0]

In [20]:
#filling missing value of float64 cols

#iterating over object columns and missing value is replaced with mean of the column
for x in missingfloat:
    data[x][data[x].isna()] = data[x].mean()

In [21]:
#missing value count
data.isna().sum()[data.isna().sum()>0]
#there is no more missing value

Series([], dtype: int64)

In [22]:
#there is no missing cell remains in the dataframe
data.isna().sum().sum()

0

In [23]:
data.shape

(1460, 76)

In [24]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [25]:
pd.get_dummies(data['Street'])

      Grvl  Pave
0        0     1
1        0     1
2        0     1
3        0     1
4        0     1
...    ...   ...
1455     0     1
1456     0     1
1457     0     1
1458     0     1
1459     0     1

[1460 rows x 2 columns]

In [26]:
pd.get_dummies(data['SaleCondition'])

      Abnorml  AdjLand  Alloca  Family  Normal  Partial
0           0        0       0       0       1        0
1           0        0       0       0       1        0
2           0        0       0       0       1        0
3           1        0       0       0       0        0
4           0        0       0       0       1        0
...       ...      ...     ...     ...     ...      ...
1455        0        0       0       0       1        0
1456        0        0       0       0       1        0
1457        0        0       0       0       1        0
1458        0        0       0       0       1        0
1459        0        0       0       0       1        0

[1460 rows x 6 columns]

In [27]:
data.shape

(1460, 76)

In [28]:
#categorical features managements
data=pd.get_dummies(data)

In [29]:
data.shape

(1460, 272)

In [30]:
data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0

In [31]:
type(data['SaleType_New'][0]) #unit8  used for keeping 1,0 flag(True/False Flag)

numpy.uint8

In [32]:
#creating X and y Datasets
y=data['SalePrice']
X=data.drop(['Id','SalePrice'],axis=1)

In [33]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [34]:
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

In [35]:
X.shape

(1460, 270)

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42) #0.67 data will be for training.

In [37]:
X_train.shape

(978, 270)

In [38]:
X_test.shape

(482, 270)

In [39]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression() #creating object of LinearRegression
reg.fit(X_train,y_train) #training and fitting LR object using training data

#fit command is used for training a model using train data.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
ypred=reg.predict(X_test)  #predicting the saleprice for testing data


#in this context actual value will be y_test and predicted value wll ypred..
#error is calculated in such a way that vraiation of ypred from y_test

In [41]:
from sklearn.metrics import mean_squared_error #calculating MSE
testingerror=mean_squared_error(ypred,y_test)

In [42]:
sum((y_test-ypred)**2)/len(ypred) #this is how we can calculate MSE.

868252192.8350788

In [43]:
from sklearn.metrics import r2_score
r2_score(y_test,ypred)

0.8817319292504009

In [44]:
reg.coef_ #value for m1,m2,....mn

array([ 1.58759738e+02,  1.47901561e+00,  7.83575235e-01,  7.08133632e+03,
        4.48416581e+03,  2.60530119e+02,  1.54984375e+02,  2.30166936e+01,
        1.32361867e+01,  5.20659521e+00, -2.15808397e+00,  1.62846879e+01,
        1.25164944e+01,  2.53826051e+01, -1.20179720e+01,  2.58811652e+01,
        2.73644178e+03, -1.11525258e+03,  4.48523059e+03,  1.78968874e+03,
       -2.69303134e+03, -1.53123071e+04,  2.06682626e+03,  3.03813442e+03,
       -1.12972914e+01,  7.19699816e+02,  3.13939086e+01,  1.53042169e+01,
        3.59123921e+00,  9.11639247e+00,  4.76911858e+01,  4.69238755e+01,
        5.85077899e+00, -1.23688921e-01, -4.22069260e+02,  7.80169231e+00,
       -1.89272417e+04,  1.46033984e+04, -6.49295680e+02,  2.40397092e+03,
        2.56916809e+03, -3.07539476e+04,  3.07539476e+04, -3.00076200e+03,
       -4.92015291e+01,  3.79913594e+03, -7.49172411e+02, -4.18694687e+03,
        1.38370763e+04, -1.33577789e+04,  3.70764940e+03,  1.53604825e+04,
       -1.53604825e+04,  3.97962623e+03,  1.28014674e+04, -4.52557926e+03,
       -1.58443059e+04,  3.58879146e+03,  1.31093959e+04,  1.79877900e+04,
       -3.10971859e+04,  9.03322028e+03,  5.46275092e+02,  3.76947027e+03,
       -3.83827828e+03, -7.10379362e+03, -4.35083326e+03,  1.05677528e+04,
       -1.84499302e+04, -5.61480455e+03, -1.63842954e+04, -6.72912471e+03,
       -1.62552063e+04, -1.58047214e+04,  2.04555055e+04, -1.32614384e+04,
        2.77390385e+04,  2.29542018e+04, -1.53372906e+04, -2.30035750e+03,
       -5.96263426e+03, -4.90117961e+03, -1.56938475e+03,  4.38196050e+04,
       -5.39238496e+03,  4.37058850e+03, -7.36357508e+03,  1.10154792e+03,
        7.16245510e+03, -9.35347095e+03,  1.22769484e+04, -1.91881020e+04,
        6.88817009e+02,  7.92624400e+03,  6.74913558e+03,  6.21148886e+04,
        5.75256897e+04,  5.04580384e+04, -3.41970008e-10, -1.73433786e+05,
       -4.57522632e+04,  4.90874323e+04, -3.34694050e-10,  2.76318390e+04,
       -1.00970458e+02,  5.45663832e+03, -1.72963486e+04, -1.56911582e+04,
        4.53856052e+03,  1.79748804e+04,  1.38148782e+04, -1.48035689e+04,
       -2.57471097e+03, -5.02390361e+03, -8.13697805e+03, -5.78915764e+03,
       -1.37622061e+04, -1.93508746e+04, -1.48391314e+04, -1.89423225e+04,
        1.43906642e+04,  5.25038703e+04, -5.08752496e+05,  7.30065914e+04,
       -2.18278728e-11,  1.20028020e+05,  7.35618137e+04,  7.69651175e+04,
        7.38916208e+04,  9.12993318e+04,  1.27118777e+04, -1.30068290e+04,
        4.52104899e+04,  1.82095170e+04, -1.26520219e+04, -1.16936882e+04,
       -1.29160020e+03,  2.32830644e-10, -2.56529869e+03,  2.21580406e+03,
        1.02020792e+03, -8.86017752e+03, -8.82792885e+03, -1.24177380e+04,
       -8.05261440e+03, -6.16634975e+03,  2.32847919e+04, -1.33025858e+04,
        2.12282819e+03, -1.26520219e+04,  1.46551929e+04, -3.32654120e+03,
       -8.73056282e+01,  1.88154668e+03, -2.42859049e+04, -8.09470240e+03,
       -6.04602606e+03,  1.55013767e+04,  4.10772126e+03,  1.10189324e+04,
        1.38904749e+03, -6.86702108e+03, -3.19875505e+02,  2.73052419e+03,
        4.45637239e+03,  1.11531899e+04,  1.21419080e+04, -1.15504232e+04,
       -1.17446747e+04,  4.47641204e+03, -3.60269112e+03, -4.68250846e+03,
        6.32647008e+03, -2.51768254e+03, -5.18737315e+02,  5.87134426e+03,
        7.90581173e+03,  1.87641360e+03,  8.05503556e+03, -2.31898678e+04,
        1.48214658e+04, -9.57025869e+02, -6.90809738e+03, -6.95634252e+03,
       -1.55890377e+04, -1.42955074e+04,  3.75801964e+04, -7.69565134e+03,
       -2.08602672e+03,  1.51667149e+04, -6.23826764e+03, -6.84242051e+03,
       -7.61967291e+02, -1.61311653e+03,  3.30712100e+03, -2.49592167e+03,
        1.26464719e+03,  2.99237303e+02,  7.56563149e+03, -8.87706426e+03,
        5.83213094e+03, -4.08675162e+03,  9.04635505e+02, -1.33858206e+03,
        1.50966286e+04,  2.60227574e+03, -9.85244000e+03, -8.50512065e+03,
       -1.78776853e+04,  1.85363416e+04,  1.02404915e+02, -4.21477758e+02,
       -4.06814774e+03,  7.51379828e+03, -3.12657770e+03,  1.48934444e+02,
       -1.48934444e+02,  3.94475236e+03, -2.30951650e+03, -3.89936780e+03,
       -1.59161573e-12,  2.26413194e+03,  1.19991598e+04,  1.33402086e+03,
       -6.46595204e+03, -6.86722864e+03,  9.39566757e+03, -4.36528622e+03,
        5.19752281e+03,  1.46897867e+04,  1.02150242e+04, -5.50190702e+04,
        1.98863552e+04, -1.22848959e+04, -2.03244648e+02,  3.24055999e+03,
       -5.31778492e+02,  9.00394562e+03,  7.75413401e+02, -6.26383129e+01,
       -1.78324008e+03,  1.84587839e+03,  1.27105948e+05, -2.61756647e+04,
       -1.84114734e+04, -6.07610781e+04, -2.17577323e+04, -1.20460760e+05,
        2.17700020e+04,  2.71914192e+04,  4.38534278e+04,  2.76459114e+04,
        2.33959990e+03, -3.02926271e+03,  6.89662810e+02, -8.70773838e+03,
        9.51620548e+03,  3.01303653e+04,  4.40337946e+03, -1.97182682e+04,
        3.83186412e+03, -8.34245935e+03, -1.33261205e+02, -1.09800872e+04,
       -1.29766363e+04,  8.31429947e+03,  2.24823299e+04, -1.39980548e+04,
       -7.06373844e+03,  3.24180018e+03])

In [45]:
reg.intercept_ #value for c

-1003482.4213607848

In [46]:
reg.predict(X_test.head()) #sample prediction with top 5 rows

array([156432.2197151 , 345190.51111971,  95246.39898228, 177883.18439751,
       329127.61682644])

In [47]:
y_test.head() #corresponding actual value

892     154500
1105    325000
413     115000
522     159000
1036    315500
Name: SalePrice, dtype: int64

In [48]:
reg.predict(X_test.loc[[892,413]])  #sample prediction with 2 rows chosen

array([156432.2197151 ,  95246.39898228])

In [49]:
y_test.loc[[892,413]] #corresponding actual value

892    154500
413    115000
Name: SalePrice, dtype: int64

In [50]:
testingerror

868252192.8350782

In [51]:
ypredtrain=reg.predict(X_train)
trainingerror=mean_squared_error(ypredtrain,y_train)
trainingerror

370555006.45945126

In [52]:
#Low Training Error and High Testing Erorr - there is a chance of overfitting.

In [53]:
#Ridge Regression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

alphavalues = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20,30]
solvervalues=['auto','svd','sag']
ridge = Ridge()

parameters = {'alpha': alphavalues,'solver':solvervalues}

ridge_regressor = GridSearchCV(ridge, parameters,cv=5)

ridge_regressor.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01, 1,
                                   5, 10, 20, 30],
                         'solver': ['auto', 'svd', 'sag']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [54]:
#to get the best parameter for the model
ridge_regressor.best_params_

{'alpha': 5, 'solver': 'svd'}

In [55]:
ridge=Ridge(alpha=5,solver='svd')
ridge.fit(X_train,y_train)
y_pred_ridge=ridge.predict(X_test)

In [56]:
Ridge_Error=mean_squared_error(y_pred_ridge,y_test)
Ridge_Error

1094496250.3509657

In [57]:
#Ridge Regression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

alphavalues = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20,30]
lasso = Lasso()

parameters = {'alpha': alphavalues}

lasso_regressor = GridSearchCV(lasso, parameters,cv=5)

lasso_regressor.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01, 1,
                                   5, 10, 20, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [58]:
#to get the best parameter for the model
lasso_regressor.best_params_

{'alpha': 30}

In [59]:
lasso=Lasso(alpha=30)
lasso.fit(X_train,y_train)
y_pred_lasso=lasso.predict(X_test)

In [60]:
Lasso_Error=mean_squared_error(y_pred_lasso,y_test)
Lasso_Error

769830781.8416971

In [61]:
#ElasticNet
from sklearn.linear_model import ElasticNet

elastic = ElasticNet()

parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]}

elastic_regressor = GridSearchCV(elastic, parameters)

elastic_regressor.fit(X_train, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True,
                                  l1_ratio=0.5, max_iter=1000, normalize=False,
                                  positive=False, precompute=False,
                                  random_state=None, selection='cyclic',
                                  tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01, 1,
                                   5, 10, 20]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [62]:
elastic_regressor.best_params_

{'alpha': 0.01}

In [63]:
elastic=ElasticNet(alpha=0.01)
elastic.fit(X_train,y_train)
y_pred_elastic=elastic.predict(X_test)

In [64]:
elastic_Error=mean_squared_error(y_pred_elastic,y_test)
elastic_Error

1093746390.6222293

In [65]:
ErrorDict={'ElasticNet':elastic_Error,'LassoReg':Lasso_Error,'RidgeReg':Ridge_Error,'LinearReg':testingerror}

In [66]:
ErrorDict

{'ElasticNet': 1093746390.6222293,
 'LassoReg': 769830781.8416971,
 'RidgeReg': 1094496250.3509657,
 'LinearReg': 868252192.8350782}

### after evaluating the errors, lasso_regressor is the best fit for the dataset given

In [70]:
#save the model for later
#pickle file with .pkl extension is a binary file saved.

from sklearn.externals import joblib
joblib.dump(lasso_regressor, 'LandPriceModel.pkl')

['LandPriceModel.pkl']

In [71]:
model2=joblib.load('LandPriceModel.pkl')
ypred=model2.predict(X_test)

In [72]:
ypred

array([156107.99198082, 344017.00819912,  97839.84355901, 173890.89060349,
       329362.19119815,  63644.40319886, 235837.30958139, 144009.96707992,
        53604.0821149 , 150486.79869188, 143536.38779147, 107294.10094583,
        88731.52131921, 220644.43977927, 170297.30155718, 136290.79975246,
       192291.02371576, 129224.69294854, 124762.09428531, 216602.6611037 ,
       159190.36832782, 206672.83890705, 179734.92253885, 130566.82387408,
       203260.65206061, 143560.69911756, 198357.06802682, 102380.63008274,
       172375.7155713 , 203456.24571501, 127747.40887783, 273451.93665198,
       238768.44801431, 104356.25754834, 240347.09963678, 146126.17002568,
       139111.71499849, 203958.79954019, 299645.69999996, 107550.29205003,
       130684.11611787, 228844.58942543, 109725.10978439, 365353.78851221,
       133719.3027384 , 141120.10612731, 101144.77450027, 142170.90801858,
       433830.82884795, 129903.01351654, 115388.30003003, 227360.31641494,
       101971.40499669, 284391.01136815, 170949.16081638, 240519.35710551,
       207754.91594545, 172114.88921213, 130196.93893301, 101395.78201688,
        74294.11402666, 169986.27343554, 310112.4222169 , 260267.8424457 ,
       302429.77775965, 199891.47982689,  99071.86095516, 293221.10149435,
       116470.27437881, 182614.41616383, 124678.61466183, 126328.36186792,
       101212.66434862,  55382.66381801, 464257.07392814, 202620.95915241,
       303264.60844396, 333994.90835446, 149091.34303947, 123545.65361037,
       117545.67905073,  51354.95330908, 117208.16728866,  89980.74104489,
       158768.14858949, 144403.97580715, 258036.54587224, 210903.59430939,
       135077.38730705, 196485.17238391, 145086.37156685, 148995.40481183,
       145496.71613576, 271488.54825542, 120631.95352175, 183900.56215014,
       202644.86822148, 177506.62011279, 212905.9659108 , 265084.71199262,
       169845.96597306, 212317.17839168, 289986.04568204, 148689.14894712,
       190700.49629641, 181959.23686977, 147359.89283414, 288697.76919904,
       154159.87171122, 196550.05931698,  73309.17027566, 136283.76032931,
       150477.31677149, 138906.14766347, 207071.77841606, 122419.6185014 ,
       103858.85635345, 108153.67779286, 112855.93674848, 287221.26083341,
       114880.7272689 , 139001.60904258, 182413.30585624, 182773.93922487,
       193963.53332974, 132529.88089389, 227816.31855102,  91989.20904524,
       152240.65284923, 189457.18385701, 189014.88428365, 335184.94603864,
       196821.75960708, 134817.7824874 ,  38465.51977754, 381298.8064512 ,
       373979.47104341, 136645.86307509, 237334.70748062, 586653.84159117,
       344597.93833133, 127679.43294693, 180250.40809396, 157364.13419435,
       131494.25233671, 110087.02747313, 237861.15489781, 191446.2554191 ,
       127870.77282277,  58518.74029281, 125327.09059466, 132346.98144381,
       273987.1531446 , 161887.37466584,  66628.93449214, 106973.31389184,
       144260.40905447, 140919.26676933,  84877.676969  , 136671.05183999,
       217003.1012145 , 120009.44543708, 298880.93856684, 152770.65267071,
       110912.71578429, 125261.16579656, 266132.74015345, 331010.77734206,
       412109.97463897, 227799.57834883, 364966.19608855,  95829.80169793,
       108678.76181254, 140134.77190124, 308667.47178587, 107829.01231284,
       117163.29038961, 207818.4618605 , 131704.10585994, 165656.15180802,
       197077.33032958, 117000.96278088, 125145.13018122, 150945.73204495,
       242220.97592211, 137472.09770872, 253961.73736495, 215599.14635797,
       202911.71205842,  75868.51597181, 116527.10140723,  96533.08845242,
       152013.88621964, 133191.61907948, 201325.50231736, 199791.03241992,
       195704.28544112,  87272.83667725, 200705.71019256, 131553.69821528,
       280986.76005865, 220096.7052685 , 113466.16509094, 306704.67004975,
       197679.04475935, 110494.6906758 , 225003.47129721, 138167.99958127,
       141346.67949482,  95907.12171015, 221802.96132839, 149733.9177398 ,
       111020.71482701, 174641.91470966, 215183.56691039, 250157.63078294,
       211471.22578759, 131628.40802989, 105115.76129043, 111875.89531349,
       134830.13534596, 219232.70480964, 213233.7688023 ,  83478.78067977,
       219009.26359106, 149618.26151017,  77492.6354846 ,  89314.42396249,
       164935.90226003,  99397.13999282,  90777.57362677, 165529.23996197,
       114296.17615736, 126607.35635458, 225952.83353831, 152668.81913942,
       207905.86974151, 166561.77933909, 246210.0014056 , 108210.86914739,
       111920.76267614, 263551.97995394, 221073.05387242, 465659.98163434,
       193426.16452924, 134421.82431219, 144311.61250236, 169012.46418521,
       141621.14623891,  87715.31693098, 175676.21783286, 161210.38419268,
       146335.39394756, 104004.66906382, 145768.00432071, 132620.02968704,
       105810.91378248, 122076.43951954, 174261.68901822, 246642.74084772,
       293604.98126114, 172621.82120638, 134146.04438678, 248665.12622198,
       347993.37148243, 224034.87664725, 167006.97207872, 136444.63953916,
       108952.71105614, 177793.46967369, 412770.1382079 , 231943.82947739,
       230616.17284759,  76895.81235982,  77811.47383668, 140238.33899344,
       137767.77719666, 317796.56416607, 256069.92872637, 123837.07369172,
       199698.81053233,  94888.75307737, 201814.59337151, 110681.46641861,
       304385.22138499, 181737.62023809, 212257.46285948, 151081.25003234,
       284915.29659747, 197839.62660092,  97463.8583801 , 113215.6791418 ,
       137967.74844706, 171902.27233516,  87121.74104687, 164424.48431699,
       170169.62550617, 142456.63393475, 183841.56376915, 115174.40770015,
       185637.0006868 , 231614.0755982 , 136052.12233303, 141190.84771306,
       167862.92547401, 207357.20631237, 148817.06140084, 219412.05778764,
       223504.89588049, 125673.07272357, 130692.69175522, 181096.91419661,
       104659.61758907, 194801.8831969 , 130926.35403326, 182566.04685514,
       194429.98332704, 167390.38905593, 304557.78936276,  66943.80649664,
       236479.71675435, 146344.2866313 , 124752.22863572, 101046.72339161,
       202244.63384118, 158332.35737153, 148332.19212678, 209392.48726222,
       167375.4034718 ,  97456.06023128, 152790.84135697, 151041.59332359,
       135274.03102567, 211313.5718098 , 157631.25336877, 110261.19992724,
       153742.85667286,  83291.4472967 ,  78832.87146592, 217311.39731352,
       184847.50308821, 127020.6860776 , 129433.43870594, 180331.12246311,
       228707.96985875, 358335.76427775, 376830.20287581, 117246.08858042,
       240090.51903481, 137276.08305108, 286613.11055423, 364858.34905177,
       296973.30705084, 179279.05273519, 228348.29755119, 126686.66357197,
       117145.89650776,  90197.42331911, 217659.23258898, 348100.6496336 ,
       180922.840408  , 109283.71172584, 229025.74146096, 253274.7249739 ,
       125270.60508033, 169283.70711742, 166484.67911496, 107224.13983129,
       113092.28722556, 151644.10918551, 120197.19377099, 177702.50668625,
       101184.96138381, 201110.64776244, 192756.70618554, 114315.07721229,
       219821.51394506, 204537.68083597,  84514.35611714, 201783.44177072,
       130755.27684177, 175250.11197775, 192072.84779661, 145611.11144593,
       133905.76480255, 213703.39153573, 160437.24871751, 146020.396029  ,
       259986.15174424, 169827.70549461, 109634.7339061 , 131092.32780392,
       119370.48498991, 361021.54508854, 139868.36669138, 421461.77840592,
       135913.24548732, 183915.38003197, 163456.31395868, 127879.20379752,
       167832.73537377, 345836.31823623, 119657.43783797, 149675.31213774,
       136418.4267029 , 101484.28323304, 189609.76196247, 119724.06114707,
       235728.73012959, 209155.43852064, 249410.64832914, 219659.14727292,
       116490.15823237, 333388.55554143, 165578.68995319, 365440.94265781,
       123730.91263825, 368242.49732411, 273286.74146269, 137944.83113367,
       220961.55805332, 254539.8346986 , 225054.10027864, 192457.41692591,
       256508.76274169, 114831.25108626, 226584.5717128 , 170767.17613214,
       198114.5663003 , 228562.87535654, 112917.97658152, 145905.46638302,
       185252.16772946, 130061.0971892 , 122253.68474667, 213996.4688749 ,
       141095.9226125 , 434371.4331681 , 183803.83526894, 120313.70791015,
       222677.91895664, 308159.34208364, 235095.47157719, 213858.62775947,
       202944.9199123 , 125713.03579606, 173359.55155794, 232489.73534467,
       133298.93119037, 153335.67974544, 123414.82382395, 180716.92566307,
       230312.85569886, 151989.92736558,  88796.86657096, 213376.52878412,
       326029.48678104, 312058.15133091, 239319.85207574, 177558.0185152 ,
       131665.6241588 , 130973.17649843, 175463.08663042, 210271.06009432,
       174587.0736366 , 481701.31272046, 205709.86414961, 179235.05417499,
        89337.25046353, 279540.46341254,  73641.24184133, 113296.35714328,
       116192.61217419, 118861.56449313, 198810.23652942, 252584.75418022,
       133520.6328133 , 131192.75141899, 111724.26745931, 202489.3055339 ,
       140507.29966665, 189618.00594529])

In [69]:
Results= pd.DataFrame(columns=['Actual','Predicted','LotArea'])
Results['Actual']=y_test
Results['Predicted']=ypred
Results['LotArea']=X_test['LotArea']
Results=Results.reset_index()
Results['Id']=Results.index
Results.head()

   index  Actual      Predicted  LotArea  Id
0    892  154500  156107.991981     8414   0
1   1105  325000  344017.008199    12256   1
2    413  115000   97839.843559     8960   2
3    522  159000  173890.890603     5000   3
4   1036  315500  329362.191198    12898   4