# Python and Pandas Basics

In [1]:
#No Explicit Datatypes and No ;

a = 10
b = 20.25
c = a+b
print(c)
type(c)

30.25

float

In [2]:
def sum(a,b):
    s=a+b
    return s
sum(10,20.5)

30.5

In [3]:
#list - List is a hetrogenious array of data , list is mutable, list can contain duplicates ,represented with []
#mutable - the values are changeable after creating the variable
list1=list()
list1.append(1)
list1.append(2)
list1.append("hello")
list1.append(2)
list1.append(10.25)
print(list1)
print(len(list1))

[1, 2, 'hello', 2, 10.25]
5

In [4]:
#slicing of a list
print(list1[0])
print(list1[1])
print(list1[0:2]) #index 0 in inclussive and index 2 in exclussinve
print(list1[:4])
print(list1[1:])
print(list1[:])
list1[0]=100
print(list1)

1
2
[1, 2]
[1, 2, 'hello', 2]
[2, 'hello', 2, 10.25]
[1, 2, 'hello', 2, 10.25]
[100, 2, 'hello', 2, 10.25]

In [5]:
#tuple - tuple is a hetrogenious array of data , tuple is immutable, tuple can contain duplicates,represented with ()
tuple1=(1,2,3,2,"hello")
print(tuple1)
tuple1[0] = 10 #tuple is immutable

(1, 2, 3, 2, 'hello')

TypeError: 'tuple' object does not support item assignment

In [6]:
#set - set is a hetrogenious array of data , set is mutable, tuple cannot contain duplicates,represented with {}

set1={1,3,4,4,"hello","1",1,2}
print(set1)
#data is not ordered in set. so slicing is not possible

{1, 2, 3, 4, 'hello', '1'}

In [7]:
#dict - hetrogenious,mutable,key-value pair, represented with {}
dict1 = {
    "Name":"Christy",
    "Age":26,
    "From":"Kottayam",
    "Native":"Kottayam"
}
dict1['Job']="Engineering"
dict1['From']="Kakkanad"
print(dict1)
dict1['Job']

{'Name': 'Christy', 'Age': 26, 'From': 'Kakkanad', 'Native': 'Kottayam', 'Job': 'Engineering'}

'Engineering'

In [8]:
import pandas as pd

In [10]:
series1 = pd.Series(data=[1,2,3,4,5])
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
df1 = pd.DataFrame(data=[[1,2],[3,4],[5,6],[7,8]],columns=['col1','col2'])
df1

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8